# 디비 비번 바꿔야하고
POSTGRES_PASSWORD=change-me

# HMAC 시크릿키 바꿔야하고
ACS_HMAC_SECRET=change-me

# 알잘딱깔로 바꾸고
ACS_GATE_KEY=change-me
ACS_ADMIN_USERNAME=admin
ACS_ADMIN_PASSWORD=change-me

# 클플 터널 연결까지
TUNNEL_TOKEN=change-me
